body{
  margin:0px;
  padding:0px;
  background:#f7f7f7;
}

.nav-region{
  background:#222;
  padding-right:20px !important;
  border-bottom:1px solid #ccc;
}

.p-region{
  padding:12px;
  float:left;
  color:#fff;
}

.status-online{
  color:#0f0 !important;
}

.status-offline{
  color:#f00 !important;
}

.search{
  text-align:left;
  margin-top:30px;
  width:30%;
  margin-left:auto;
  margin-right:auto;
}

.user-profile{
  padding:12px;
}

.user-profile label{
  font-weight: normal !important;
  color: #222 !important;
}

.tab-summary{
  margin:8px;
}

.form-season{
  float:right;
}

.summary-table{
  margin-top:8px;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}

.preloader{
  font-size:2em;
  position:absolute;
  color:#fff;
  top:10px;
  left:50%;

}
